<a href="https://colab.research.google.com/github/komalpreetkaur1234-dev/DAILY-DAIRY/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1 colors = ['red', 'blue', 'green', 'yellow']
Using the colors list defined above, print the:
First element, Second element, Last element, Second-to-last element, Second and third elements, Element at index 4.

In [ ]:
colors = ['red', 'blue', 'green', 'yellow']

print(colors[0])
print(colors[1])
print(colors[-1])
print(colors[-2])

print(colors[1:3])

try:
  print(colors[4])
except IndexError:
  print("Index out of range")

red
blue
yellow
green
['blue', 'green']
Index out of range

Q.2 Below is a list with seven integer values representing the daily water level (in cm) in an imaginary lake. However, there is a mistake in the data. The third dayâ€™s water level should be 693. Correct the mistake and print the changed list.
water_level = [730, 709, 682, 712, 733, 751, 740]

In [ ]:
water_level = [730, 709, 682, 712, 733, 751, 740]
water_level[2] = 693
print(water_level)

[730, 709, 693, 712, 733, 751, 740]

water_level = [730, 709, 682, 712, 733, 751, 740]
Q.3 Add the data for the eighth day to the list from above. The water level was 772 cm on that day. Print the list contents afterwards.

In [ ]:
water_level = [730, 709, 682, 712, 733, 751, 740]
water_level.append(772)
print(water_level)

[730, 709, 682, 712, 733, 751, 740, 772]

Q.4 Still using the same list, add three consecutive days using a single instruction. The water levels on the 9th through 11th days were 772 cm, 770 cm, and 745 cm. Add these values and then print the whole list.

In [ ]:
water_level.extend([772, 770, 745])
print(water_level)

[730, 709, 682, 712, 733, 751, 740, 772, 772, 770, 745]

Q.5 There are two ways to delete data from a list: by using the index or by using the value. Start with the original water_level list we defined in the second exercise and delete the first element using its index. Then define the list again and delete the first element using its value.

In [ ]:
water_level = [730, 709, 682, 712, 733, 751, 740]
water_level.pop(0)
print(water_level)

water_level = [730, 709, 682, 712, 733, 751, 740]
water_level.remove(730)
print(water_level)

[709, 682, 712, 733, 751, 740]
[709, 682, 712, 733, 751, 740]

 Tuple Creation and Access:
Create a tuple named colors with the elements 'red', 'green', and 'blue'.
Access the second element of the tuple and print it.

In [ ]:
colors = ('red', 'green', 'blue')
print(colors[1])

green

Immutable Nature:
Explain in your own words why tuples are considered immutable.
Attempt to modify an element in an existing tuple and observe the resulting error.

In [ ]:
colors = ('red', 'green', 'blue')

colors[1] = 'purple'

# This will result in a TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

 Tuple Slicing:
Given the tuple numbers = (1, 2, 3, 4, 5), use slicing to extract the elements from index 1 to 3 (inclusive).
What would be the output of numbers[::-1]?

In [ ]:
numbers = (1, 2, 3, 4, 5)

sliced_tuple = numbers[1:4]
print(sliced_tuple)

reversed_tuple = numbers[::-1]
print(reversed_tuple)

(2, 3, 4)
(5, 4, 3, 2, 1)

Tuple Concatenation and Repetition:
Create two tuples, fruits with elements 'apple', 'banana', and berries with elements 'strawberry', 'blueberry'.
Concatenate the two tuples and store the result in a new tuple named combined
_
fruits.
Repeat the combined
_
fruits tuple three times and print the result.

In [ ]:
fruits = ('apple', 'banana')
berries = ('strawberry', 'blueberry')

combined_fruits = fruits + berries
print(combined_fruits)

repeated_fruits = combined_fruits * 3
print(repeated_fruits)

('apple', 'banana', 'strawberry', 'blueberry')
('apple', 'banana', 'strawberry', 'blueberry', 'apple', 'banana', 'strawberry', 'blueberry', 'apple', 'banana', 'strawberry', 'blueberry')

Built-in Tuple Methods:
Create a tuple named grades with the elements 90, 85, 92, 88, 95.
Use the count() method to find how many times the grade 88 appears in the tuple.
Use the index() method to find the index of the grade 92.

In [ ]:
grades = (90, 85, 92, 88, 95)

count_88 = grades.count(88)
print(f"The grade 88 appears {count_88} times in the tuple.")

index_92 = grades.index(92)
print(f"The grade 92 is at index {index_92} in the tuple.")

The grade 88 appears 1 times in the tuple.
The grade 92 is at index 2 in the tuple.

Advantages of Tuples:
Explain one advantage of using tuples over lists in Python.
Describe a scenario where the immutability of tuples could be beneficial in a program.

In [ ]:
**Advantages of Tuples:**

* **Memory Efficiency:** Tuples are more memory-efficient than lists because they are immutable. This means that the interpreter does not need to allocate extra space to store the length of the tuple, as it does for lists.
* **Immutability:** The immutability of tuples can be beneficial in a number of scenarios. For example, if you are storing data that should not be changed, such as the version of a library or the configuration of a system, using a tuple can help to prevent accidental modifications.

**Scenario where immutability is beneficial:**

One scenario where the immutability of tuples could be beneficial is in a program that stores the configuration of a system. If the configuration data is stored in a tuple, it can help to ensure that the configuration is not accidentally modified, which could lead to unexpected behavior or errors.

For example, consider a program that uses a tuple to store the following configuration data:

Multiple Data Types in a Tuple:
Create a tuple named mixed
_
types with elements 'apple', 42, and 3.14.
Access and print the second element of the tuple.

In [ ]:
mixed_types = ('apple', 42, 3.14)

print(mixed_types[1])

42

Conversion:
Convert the list ['cat'
,
'dog'
,
'rabbit'] into a tuple named animals.
Print the tuple to verify the conversion.

In [ ]:
animals = tuple(['cat', 'dog', 'rabbit'])
print(animals)

('cat', 'dog', 'rabbit')

Nested Tuples:
Create a tuple outer
_
tuple with two elements: 'apple' and another tuple ('red', 'green', 'yellow').
Access the second element of the inner tuple and print it.

In [ ]:
outer_tuple = ('apple', ('red', 'green', 'yellow'))

inner_tuple = outer_tuple[1]

second_element = inner_tuple[1]

print(second_element)

In [ ]:
mixed_types = ('apple', 42, 3.14)
my_list = list(mixed_types)
print(my_list)

['apple', 42, 3.14]

1.
   - You are managing the inventory for a small bookstore. Create a list of book titles available in the store. Add new titles to the list as they arrive. If a book is sold out, remove it from the list. Write a function to check if a specific book is in stock.

In [ ]:
book_titles = ['The Great Gatsby', 'To Kill a Mockingbird', '1984']

book_titles.append('Pride and Prejudice')
book_titles.append('Jane Eyre')

book_titles.remove('1984')

def is_book_in_stock(book_title):
  return book_title in book_titles

print(is_book_in_stock('Animal Farm'))

print(is_book_in_stock('Pride and Prejudice'))

False
True

2.
   - You have a list of grades for a class of students. Write a function to add a new grade to the list. Another function should remove the lowest grade. Write a third function to calculate the average grade.

In [ ]:
grades = [73, 85, 92, 88, 95]

grades.append(97)

grades.remove(min(grades))

average_grade = sum(grades) / len(grades)

print(grades)
print(average_grade)

[85, 92, 88, 95, 97]
91.4

3.
   - Implement a simple to-do list application. Create a list to store tasks. Write functions to add a task, remove a task by its name, and display all tasks. Ensure that the tasks are displayed in the order they were added.

In [ ]:
tasks = []

tasks.append("Buy groceries")

tasks.append("Do laundry")

for task in tasks:
    print(task)

tasks.remove("Buy groceries")

for task in tasks:
    print(task)

Buy groceries
Do laundry
Do laundry

4.
   - Create a list to store items you need to buy from the grocery store. Write functions to add items, remove items, and check if a specific item is already on the list. Ensure that duplicate items are not added.

In [ ]:
grocery_list = []

grocery_list.append("Milk")
grocery_list.append("Eggs")
grocery_list.append("Bread")

grocery_list.remove("Milk")

if "Eggs" in grocery_list:
  print("Eggs are on the list")

if "Bread" not in grocery_list:
  grocery_list.append("Bread")

print(grocery_list)

Eggs are on the list
['Eggs', 'Bread']


5.
   - You are tracking daily temperatures for a month. Create a list to store these temperatures. Write functions to find the highest and lowest temperatures, and to calculate the average temperature for the month.

In [ ]:
temperatures = [32, 35, 40, 38, 31, 34, 36, 37, 33, 39, 41, 30]

highest_temperature = max(temperatures)
lowest_temperature = min(temperatures)
average_temperature = sum(temperatures) / len(temperatures)

print(f"Highest temperature: {highest_temperature}")
print(f"Lowest temperature: {lowest_temperature}")
print(f"Average temperature: {average_temperature}")

Highest temperature: 41
Lowest temperature: 30
Average temperature: 35.5

6.
   - You are responsible for assigning seats to students in a classroom. Create a list to represent the seating arrangement. Write functions to assign a seat to a new student, find a student's seat by name, and swap seats between two students.

In [ ]:
seating_chart = ['Alice', 'Bob', 'Carol', 'Dave', 'Eve']

seating_chart.append('Frank')

student_name = 'Carol'
student_seat = seating_chart.index(student_name)

student1_name = 'Bob'
student2_name = 'Eve'

student1_seat = seating_chart.index(student1_name)
student2_seat = seating_chart.index(student2_name)

seating_chart[student1_seat], seating_chart[student2_seat] = seating_chart[student2_seat], seating_chart[student1_seat]

print(seating_chart)

['Alice', 'Eve', 'Carol', 'Dave', 'Bob', 'Frank']

7.
   - You are organizing an event and need to manage the guest list. Create a list to store the names of the guests. Write functions to add a guest, remove a guest by name, and check if a person is on the guest list.

In [ ]:
guest_list = []

# Add a guest
guest_name = "John Doe"
guest_list.append(guest_name)

# Remove a guest by name
guest_name = "Jane Doe"
if guest_name in guest_list:
    guest_list.remove(guest_name)

# Check if a person is on the guest list
person_name = "John Doe"
if person_name in guest_list:
    print(f"{person_name} is on the guest list.")
else:
    print(f"{person_name} is not on the guest list.")

John Doe is on the guest list.

8.
   - Create a playlist for a party. Use a list to store song titles. Write functions to add a song, remove a song by title, and shuffle the playlist. Ensure no duplicate songs are added to the playlist.

In [ ]:
# prompt: 8.
#    - Create a playlist for a party. Use a list to store song titles. Write code to add a song, remove a song by title, and shuffle the playlist. Ensure no duplicate songs are added to the playlist. without functions

# Initialize the playlist as an empty list
playlist = []

# Add a song to the playlist
new_song = "Party Rock Anthem"
if new_song not in playlist:
    playlist.append(new_song)

# Remove a song by title
song_to_remove = "Call Me Maybe"
if song_to_remove in playlist:
    playlist.remove(song_to_remove)

# Shuffle the playlist
import random
random.shuffle(playlist)

# Print the updated playlist
print(playlist)

9.
   - You are managing course enrollments for a university. Create a list of students enrolled in a course. Write functions to add a student, remove a student by name, and find the total number of students enrolled.

In [ ]:
# prompt: 9.
#    - You are managing course enrollments for a university. Create a list of students enrolled in a course. Write code to add a student, remove a student by name, and find the total number of students enrolled. without functions

# Initialize the list of students
students = []

# Add a student
new_student = "John Doe"
students.append(new_student)

# Remove a student by name
student_to_remove = "Jane Doe"
if student_to_remove in students:
    students.remove(student_to_remove)

# Find the total number of students enrolled
total_students = len(students)

# Print the updated list of students and the total number of students
print(students)
print(f"Total students enrolled: {total_students}")

10.
    - You are creating a recipe management system. Create a list of ingredients required for a recipe. Write functions to add an ingredient, remove an ingredient by name, and check if a specific ingredient is in the list. Sort the list of ingredients alphabetically.

In [ ]:
# prompt: 10.
#     - You are creating a recipe management system. Create a list of ingredients required for a recipe. Write code to add an ingredient, remove an ingredient by name, and check if a specific ingredient is in the list. Sort the list of ingredients alphabetically. without functions

ingredients = []

# Add an ingredient
new_ingredient = "Flour"
ingredients.append(new_ingredient)

# Remove an ingredient by name
ingredient_to_remove = "Sugar"
if ingredient_to_remove in ingredients:
    ingredients.remove(ingredient_to_remove)

# Check if a specific ingredient is in the list
specific_ingredient = "Salt"
if specific_ingredient in ingredients:
    print(f"{specific_ingredient} is in the list.")
else:
    print(f"{specific_ingredient} is not in the list.")

# Sort the list of ingredients alphabetically
ingredients.sort()

# Print the updated list of ingredients
print(ingredients)

11.
    - You are analyzing responses from a survey. Create a list of responses. Write functions to add a response, remove a response by its index, and calculate the frequency of each unique response.

In [ ]:
# prompt: 11.
#     - You are analyzing responses from a survey. Create a list of responses. Write code to add a response, remove a response by its index, and calculate the frequency of each unique response. without functiosn

responses = []

# Add a response
responses.append("Very satisfied")

# Remove a response by index
del responses[0]

# Calculate the frequency of each unique response
unique_responses = set(responses)
frequency = {}
for response in unique_responses:
    frequency[response] = responses.count(response)

# Print the frequency of each unique response
for response, count in frequency.items():
    print(f"{response}: {count}")

12.
    - Implement a flight booking system. Create a list to store the names of passengers on a flight. Write functions to add a passenger, remove a passenger by name, and find the seat number of a passenger (assuming the index represents the seat number).

In [ ]:
passengers = []

new_passenger = "John Doe"
passengers.append(new_passenger)

passenger_to_remove = "Jane Doe"
if passenger_to_remove in passengers:
    passengers.remove(passenger_to_remove)

passenger_name = "John Doe"
if passenger_name in passengers:
    seat_number = passengers.index(passenger_name)
    print(f"{passenger_name}'s seat number is {seat_number + 1}.")
else:
    print(f"{passenger_name} is not on the flight.")

John Doe's seat number is 1.

13.
    - Develop an online shopping cart system. Create a list to store the items in the cart. Write functions to add an item, remove an item by name, and calculate the total price of all items in the cart.

In [ ]:
shopping_cart = []

new_item = "Apple"
shopping_cart.append(new_item)

item_to_remove = "Banana"
if item_to_remove in shopping_cart:
    shopping_cart.remove(item_to_remove)

total_price = len(shopping_cart) * 1.00

print(shopping_cart)
print(f"Total price: ${total_price}")

['Apple']
Total price: $1.0

14.
    - You are managing a library system. Create a list of books currently borrowed by patrons. Write functions to add a borrowed book, return a book (remove it from the list), and check if a specific book is currently borrowed.

In [ ]:
borrowed_books = []

new_book = "The Great Gatsby"
borrowed_books.append(new_book)

returned_book = "To Kill a Mockingbird"
if returned_book in borrowed_books:3
    borrowed_books.remove(returned_book)

specific_book = "1984"
if specific_book in borrowed_books:
    print(f"{specific_book} is currently borrowed.")
else:
    print(f"{specific_book} is not currently borrowed.")

print(borrowed_books)

1984 is not currently borrowed.
['The Great Gatsby']

15.
    - Create a weekly meal planner. Use a list to store meals for each day of the week. Write functions to add a meal for a specific day, remove a meal by day, and display the meal plan for the entire week.

In [ ]:
meal_planner = [None] * 7

day = "Monday"
meal = "Pasta"
day_index = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].index(day)
meal_planner[day_index] = meal

day = "Tuesday"
day_index = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].index(day)
meal_planner[day_index] = None

for day, meal in zip(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], meal_planner):
    print(f"{day}: {meal}")

Monday: Pasta
Tuesday: None
Wednesday: None
Thursday: None
Friday: None
Saturday: None
Sunday: None