<a href="https://colab.research.google.com/github/komalpreetkaur1234-dev/DAILY-DAIRY/blob/main/DAY_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a set with the first five prime numbers.

In [2]:
prime_numbers={2,3,5,7,11}
print(prime_numbers)

{2, 3, 5, 7, 11}

2. Add the number 7 to the set.

In [17]:
prime_numbers={2,3,5,7,11}

prime_numbers.add(7)
prime_numbers

{2, 3, 5, 7, 11}

3. Remove the number 3 from the set.

In [16]:
prime_numbers={2,3,5,7,11}
prime_numbers.remove(3)
print(prime_numbers)

{2, 5, 7, 11}

4. Check if the set is a subset of {2, 3, 5, 7, 11}

In [5]:
prime_numbers={2,3,5,7,11}
check_subset={2,3,5,7,11}
check_subset.issubset(prime_numbers)

True


5. Find the union of the set with {7, 11, 13}.

In [6]:
prime_numbers={2,3,5,7,11}
new={7,11,3}
prime_numbers.union(new)

{2, 3, 5, 7, 11}

6. Create a frozen set from the original set

In [18]:
a=frozenset({1,2,3,4,})
a

frozenset({1, 2, 3, 4})

7. Check if the set has any common elements with {1, 4, 9}.

In [7]:
prime_numbers={2,3,5,7,11}
check_common={1,4,9}
prime_numbers.intersection(check_common)

set()

8. Remove all elements from the set.

In [24]:
set={2,3,5,7,11}
set.clear()

9. Create a set of your favorite fruits and find the intersection with { 'apple', 'banana', 'orange' }.

In [8]:
my_fav_fruits={'mango','apple','stawberry'}
fruits={ 'apple', 'banana', 'orange' }
my_fav_fruits.intersection(fruits)

{'apple'}

10. Use set comprehension to create a set of squares for numbers 1 to 10.

In [25]:
squares = {4}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}